.message {
  margin-bottom: 5px;
  padding: 5px;
}

.sent-message {
  background-color: #dceaef;
  text-align: end;
}

.received-message {
  background-color: white;
}

.message-timestamps {
  font-size: 12px;
}