.login-container{
  margin-top: 100px;
}

.login-container .login-form {
  max-width: 300px;
}

.login-container .login-form-forgot {
  float: right;
}

.login-container .login-form-button {
  width: 100%;
}

.auth-form-title{
  font-size: 24px !important;
}