body {
  font-family: sans-serif;
  background-color: #eceef2;
}

.content-body {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10%;
  padding-left: 10%;
}

.content-wrapper {
  margin-top: 90px;
}

.text-centered {
  text-align: center;
}